/* Custom cursor styles */
.custom-cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(5, 5, 5, 0.945);
  border: 2px solid #ffffff;
  border-radius: 50%;
  pointer-events: none; /* Ensure the cursor doesn't interfere with clicks */
  transform: translate(-50%, -50%); /* Center the cursor on the mouse position */
  z-index: 9999; /* Ensure the cursor is above other elements */
  transition: transform 0.1s ease-out, width 0.2s ease-out, height 0.2s ease-out;
}

/* Optional: Add hover effects to links */
a:hover ~ .custom-cursor {
  width: 40px;
  height: 40px;
  background-color: rgba(59, 130, 246, 0.2); /* More transparent on hover */
  border-width: 3px; /* Thicker border on hover */
}
@media (max-width: 768px) {
  .custom-cursor {
    display: none;
  }
}@media (max-width: 1024px) {
  .custom-cursor {
    display: none;
  }
}