.embla {
  overflow: hidden;
  position: relative;
  z-index: 999;
}

.embla__container {
  display: flex;

}

.embla__slide {
  flex: 0 0 100%; /* Default to full width on small screens */
  min-width: 0;
  transition: transform 0.7s ease-in-out;
}

/* Medium screens (tablets, 768px and up) */
@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 50%; /* Show 2 slides at a time */
  }
}

/* Large screens (desktops, 1024px and up) */
@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 33.33%; /* Show 3 slides at a time */
  }
}

/* Extra-large screens (1200px and up) */
@media (min-width: 1200px) {
  .embla__slide {
    flex: 0 0 50%; /* Show 4 slides at a time */
  }
}

.bounce {
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
}