/* Blog.css */
.swiper {
  padding-bottom: 3rem; /* Space for pagination */
}

.swiper-pagination-bullet {
  background: #18181859; /* Indigo color for pagination dots */
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-size: 1.5rem; /* Smaller arrow size */
  transition: background-color 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #181818 !important; /* Darker indigo on hover */
}
