*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Exo", sans-serif;
  overflow-x: hidden;
}
.custom-shadow {
  filter: drop-shadow(3px 3px 20px rgba(177, 179, 177, 0.342));
}

@media screen and (min-width: 1024px) {
  .bounce {
    animation: bounce 2.5s infinite;
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}

.line_prog {
  position: fixed;
  top: 0;
  left: 0;
  height: 6px;

  animation: progress linear;
  z-index: 999999;
  animation-timeline: scroll();
}

@keyframes progress {
  0% {
    width: 0;
    background-color: #1b1d1d;
  }
  50% {
    width: 50%;
    background-color: #c2cfcf;
  }
  100% {
    width: 100%;
    background-color: #939fa0;
  }
}
.custom-cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(5, 5, 5, 0.945);
  border: 2px solid #ffffff;
  border-radius: 50%;
  pointer-events: none; /* Ensure the cursor doesn't interfere with clicks */
  transform: translate(
    -50%,
    -50%
  ); /* Center the cursor on the mouse position */
  z-index: 9999; /* Ensure the cursor is above other elements */
  transition: transform 0.1s ease-out, width 0.2s ease-out, height 0.2s ease-out;
}

/* Category.css */
/* Category.css */
.swiper-container {
  padding: 1rem 0;
  margin: 0 -1rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.swiper-button-prev-custom button,
.swiper-button-next-custom button {
  transition: all 0.3s ease;
  margin: 0 3rem;
}
@media screen and (max-width: 768px) {
  .swiper-button-prev-custom button,
  .swiper-button-next-custom button {
    margin: 0 1rem;
  }
}
.swiper-button-prev-custom button:hover,
.swiper-button-next-custom button:hover {
  transform: scale(1.1);
}

.swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.5;
  width: 8px;
  height: 8px;
}

.swiper-pagination-bullet-active {
  background: #ffffff;
  opacity: 1;
}

/* Hide default Swiper buttons */
.swiper-button-next,
.swiper-button-prev {
  display: none;
}
